body{ background-color: black; }

h1{
 	margin: 0;
 	position: absolute;
 	top: 50%; left: 50%;
 	transform: translate(-50%,-50%);
    text-align: center;
 	text-transform: uppercase;
 	font-family: 'Roberto';
 	font-weight: 900;
 	font-size: 80px;
 	background-image: linear-gradient(90deg,RED,green,blue);
 	background-repeat: no-repeat;
 	background-size: 80% 100%;
 	background-clip:text;
 	-webkit-background-clip:text;
 	color: transparent;
 	animation: shine 3s linear infinite;
}

@keyframes shine{
 	0%{
 		background-position: -500% 0;
 	}

 	100%{
 		background-position: 500% 0;
 	}
}
